@import './variables.scss';
@import './variables.scss';

#layout_header {
    background-color: $primaryColor;
    color : white;
    display: flex;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
}

#layout_header h1 {
    padding-left: 10px;
}

#layout_header Link {
    padding-right: 20px;
    cursor: pointer;
}



