@import './variables.scss';


#layout_header {
    background-color: $primaryColor;
    color : white;
    display: flex;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 5px;
}

#layout_header h1 {
    padding-left: 10px;
}

#layout_header Link {
    padding-right: 20px;
    cursor: pointer;
}

#layout_main {
    background-color: $backColor;
    height : 100%;
    display: flex;
    flex-direction: column;
}

#child_holder {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#site_label_holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

